<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621964915271-76coulsb75jghg83d19u3cvcteks789c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621964915271-76coulsb75jghg83d19u3cvcteks789c</string>
	<key>API_KEY</key>
	<string>AIzaSyBqz0r6QuilxVPPhlLGf0_rWcGf10X9hco</string>
	<key>GCM_SENDER_ID</key>
	<string>621964915271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomMeeting</string>
	<key>PROJECT_ID</key>
	<string>zoom-meeting-3d217</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-meeting-3d217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621964915271:ios:17ab9feccd37a9d724b762</string>
</dict>
</plist>